@font-face {
  font-family: 'DOSGothic';
  src: url(DOSGothic.ttf);
}

body{
  background-color: #33726d;
  white-space: normal;
  word-break: break-word;
}

*{
  font-family: 'DOSGothic', cursive;
}
